.screen-reader-text {
	display: none;
}

.urbana-top-banner {
	width: 100%;
	background: $secondary-color;
	color: $light-grey;

	p {
		font-size: 12px;
		margin: 8px 0;
	}
}

.urbana-location {
	background: {
		image: url(images/icons/location-marker.png);
		repeat: no-repeat;
		position: 0 9px;	
	}
	
	p {
		padding-left: 15px;
	}
}

.urbana-language {
	text-align: right;
	font-size: 12px;
	text-transform: uppercase;

	ul {
		list-style: none;
		margin: 0;

		li {
			display: inline-block;
			margin: 8px 0;
		}
	}
}

.urbana-num {
	padding-right: 20px;
	border-right: 1px solid $light-grey;
}


ul.languages {
	position: absolute;
	top: 100%;
	left: 0;
	width: 90%;
	background: $secondary-color;
	list-style: none;
	z-index: 1;
	box-shadow: 0 0 12px $dark-grey;
	padding: 0;
	font-size: 11px;
	display: none;
	padding: 10px;

	li {
		display: block;
		text-align: left;
		margin: 0;

		a {
			color: $light-grey;
			text-decoration: none;
			display: block;
			padding: 6px;
		}

		&:hover a {
			padding-left: 9px;
		}
	}
}

.urbana-language-switcher {
	position: relative;
	color: $light-grey;
	text-decoration: none;
	padding: 0 30px 0 10px;
	background: {
		image: url(images/icons/usa-flag.png);
		repeat: no-repeat;
		position: 90% 3px;
	}
	cursor: pointer;

	&:hover ul.languages {
		display: block;
	}
}