header.urbana-header {
	background: $dark-grey;
}

.urbana-navigation {
	padding: 16px 0;
}

p.urbana-description {
	margin-bottom: 0;
}

.urbana-branding {
	color: $light-grey;
}

.urbana-main-navigation {
	padding: 4px 0;
}


.menu-main-navigation-menu-container ul.menu {
	display: table;
	list-style: none;
	margin: 0;
	font-size: 14px;
	width: 100%;

	li {
		display: inline-block;
		display: table-cell;
		margin: 0;
		text-align: center;

		a {
			color: $light-grey;
			text-decoration: none;
			display: block;
			padding: 8px 0;
			position: relative;


			&::after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				background: $lighter-grey;
				height: 0px;
				width: 100%;
				transition: all 0.3s;
			}

			&:hover {

				color: $lighter-grey;

				&::after {
					height: 3px;
				}
			}
		}
	}
}