.urbana-reservation-form {
	background: darken($light-grey, 10%);
	padding: 42px 0 32px 0;
	margin-bottom: 16px * 2.2;

	form {
		margin-bottom: 0;


		input {
			border: 2px solid darken($light-grey, 25%);
			margin-bottom: 0;
		}
	}
}

.urbana-reservation-form > .container > form > .row {
	display: flex;
	flex-direction: row;
	align-content: stretch;
}

.urbana-datepicker {
	@extend .three.columns;
	margin-right: 8px;
	background: url(images/datepicker/calendar.png) 94% 6px no-repeat;
}

.urbana-select {
	@extend .two.columns;
	margin-right: 8px;
}

input[type="submit"].urbana-reservation-button {
	@extend .button-primary;
	@extend .three.columns;
	transition: 0.3s all;

	&:hover {
		background-color: darken($light-grey, 10%);
		border: 2px solid lighten($dark-grey, 5%);
		color: $dark-grey;
		line-height: 1;
	}
}

.ui-datepicker {
	display: none;
	font-size: 13px;
	background: white;
	border-radius: 4px;
	padding: 30px 30px 0;
	box-shadow: 0 0 10px $dark-grey;

	table {
		th, td {
			padding: 10px;
		}
	}

	a.ui-corner-all {
		color: $dark-grey;
		cursor: pointer;
	}

	a.ui-datepicker-prev {
		float: left;
		background: url(images/datepicker/ui-datepicker-prev.png) left center no-repeat;
		padding-left: 30px;
		text-indent: -999px;
	}

	a.ui-datepicker-next {
		float: right;
		background: url(images/datepicker/ui-datepicker-next.png) right center no-repeat;
		padding-right: 30px;
		text-indent: -999px;
	}

	.ui-datepicker-title {
		text-align: center;
	}

	.ui-datepicker-header {
		padding-bottom: 8px;
		border-bottom: 1px double $light-grey;
	}
}