$urbana-slider-height : 16px * 40;

.urbana-slider {
	position: relative;
	text-align: center;
	color: $lighter-grey;
	text-shadow: 0 0 16px black;
	width: 100%;
	height: $urbana-slider-height;
	overflow: hidden;
	background-color: lighten($dark-grey, 10%);

	.urbana-slider-text {
		position: absolute;
		width: 100%;
		top: 30%;
		
		h1 {
			font-size: 48px;
			letter-spacing: 1px;
			line-height: 1.2;
		}

		p {
			font-size: 22px;
			letter-spacing: 1px;
			line-height: 1.2;
			margin: (16px * 2.4) 0 (16px * 3);
		}
	}
}

a.urbana-slider-button {
	color: $lighter-grey;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 1px;
	text-decoration: none;
	display: inline-block;
	padding: 16px 60px;
	border-radius: 4px;
	border: 2px solid $lighter-grey;
	transition: 0.3s all;

	&:hover {
		color: $dark-grey;
		background-color: $lighter-grey;
		text-shadow: 0 0 0 $lighter-grey;
	}
}