/**
 * This is the file that imports all the modular SCSS
 * To change styles change the scss file and compile using CodeKit or some other software.
 */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
/* Base files. */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }

a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #545454; }

a {
  color: #4A93E8;
  transition: 0.3s all; }
  a:hover {
    color: #3386e5; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem; }
  h2 {
    font-size: 4.2rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 3.0rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 1.5rem; } }

p {
  margin-top: 0; }

/* Modules */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66667%; }
  .two.columns, .urbana-select {
    width: 13.33333%; }
  .three.columns, .urbana-datepicker, input[type="submit"].urbana-reservation-button {
    width: 22%; }
  .four.columns {
    width: 30.66667%; }
  .five.columns {
    width: 39.33333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.66667%; }
  .eight.columns {
    width: 65.33333%; }
  .nine.columns {
    width: 74%; }
  .ten.columns {
    width: 82.66667%; }
  .eleven.columns {
    width: 91.33333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.66667%; }
  .two-thirds.column {
    width: 65.33333%; }
  .one-half.column {
    width: 48%; }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%; } }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #3b3b3b;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #3b3b3b;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover {
  color: #545454;
  border-color: darkgray;
  outline: 0; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #545454;
  border-color: darkgray;
  outline: 0; }

.button:focus,
button:focus {
  color: #545454;
  border-color: darkgray;
  outline: 0; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #545454;
  border-color: darkgray;
  outline: 0; }

.button.button-primary, input.button[type="submit"].urbana-reservation-button,
button.button-primary {
  color: #fff;
  background-color: #545454;
  border-color: #545454; }

input[type="submit"].button-primary, input[type="submit"].urbana-reservation-button, input[type="reset"].button-primary, input[type="reset"][type="submit"].urbana-reservation-button, input[type="button"].button-primary, input[type="button"][type="submit"].urbana-reservation-button {
  color: #fff;
  background-color: #545454;
  border-color: #545454; }

.button.button-primary:hover, input.button[type="submit"].urbana-reservation-button:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #4A93E8;
  border-color: #4A93E8; }

input[type="submit"].button-primary:hover, input[type="submit"].urbana-reservation-button:hover, input[type="reset"].button-primary:hover, input[type="reset"][type="submit"].urbana-reservation-button:hover, input[type="button"].button-primary:hover, input[type="button"][type="submit"].urbana-reservation-button:hover {
  color: #fff;
  background-color: #4A93E8;
  border-color: #4A93E8; }

.button.button-primary:focus, input.button[type="submit"].urbana-reservation-button:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #4A93E8;
  border-color: #4A93E8; }

input[type="submit"].button-primary:focus, input[type="submit"].urbana-reservation-button:focus, input[type="reset"].button-primary:focus, input[type="reset"][type="submit"].urbana-reservation-button:focus, input[type="button"].button-primary:focus, input[type="button"][type="submit"].urbana-reservation-button:focus {
  color: #fff;
  background-color: #4A93E8;
  border-color: #4A93E8; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"], input[type="number"], input[type="search"], input[type="date"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="date"], input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #545454;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #545454;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.screen-reader-text {
  display: none; }

.urbana-top-banner {
  width: 100%;
  background: #3b3b3b;
  color: #e1e1e1; }
  .urbana-top-banner p {
    font-size: 12px;
    margin: 8px 0; }

.urbana-location {
  background-image: url(images/icons/location-marker.png);
  background-repeat: no-repeat;
  background-position: 0 9px; }
  .urbana-location p {
    padding-left: 15px; }

.urbana-language {
  text-align: right;
  font-size: 12px;
  text-transform: uppercase; }
  .urbana-language ul {
    list-style: none;
    margin: 0; }
    .urbana-language ul li {
      display: inline-block;
      margin: 8px 0; }

.urbana-num {
  padding-right: 20px;
  border-right: 1px solid #e1e1e1; }

ul.languages {
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  background: #3b3b3b;
  list-style: none;
  z-index: 1;
  box-shadow: 0 0 12px #545454;
  padding: 0;
  font-size: 11px;
  display: none;
  padding: 10px; }
  ul.languages li {
    display: block;
    text-align: left;
    margin: 0; }
    ul.languages li a {
      color: #e1e1e1;
      text-decoration: none;
      display: block;
      padding: 6px; }
    ul.languages li:hover a {
      padding-left: 9px; }

.urbana-language-switcher {
  position: relative;
  color: #e1e1e1;
  text-decoration: none;
  padding: 0 30px 0 10px;
  background-image: url(images/icons/usa-flag.png);
  background-repeat: no-repeat;
  background-position: 90% 3px;
  cursor: pointer; }
  .urbana-language-switcher:hover ul.languages {
    display: block; }

header.urbana-header {
  background: #545454; }

.urbana-navigation {
  padding: 16px 0; }

p.urbana-description {
  margin-bottom: 0; }

.urbana-branding {
  color: #e1e1e1; }

.urbana-main-navigation {
  padding: 4px 0; }

.menu-main-navigation-menu-container ul.menu {
  display: table;
  list-style: none;
  margin: 0;
  font-size: 14px;
  width: 100%; }
  .menu-main-navigation-menu-container ul.menu li {
    display: inline-block;
    display: table-cell;
    margin: 0;
    text-align: center; }
    .menu-main-navigation-menu-container ul.menu li a {
      color: #e1e1e1;
      text-decoration: none;
      display: block;
      padding: 8px 0;
      position: relative; }
      .menu-main-navigation-menu-container ul.menu li a::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        background: #eeeeee;
        height: 0px;
        width: 100%;
        transition: all 0.3s; }
      .menu-main-navigation-menu-container ul.menu li a:hover {
        color: #eeeeee; }
        .menu-main-navigation-menu-container ul.menu li a:hover::after {
          height: 3px; }

/**
 * kenburnsy - Easy to use JQuery plugin to make slideshows with Ken Burns effect
 * @version v0.0.5
 * @link https://github.com/ZeroOneStudio/kenburnsy
 * @license MIT
 */
.kenburnsy {
  position: relative;
  overflow: hidden;
  width: 100%; }

.kenburnsy.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

.kenburnsy img {
  display: none; }

.kenburnsy .slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

.urbana-slider {
  position: relative;
  text-align: center;
  color: #eeeeee;
  text-shadow: 0 0 16px black;
  width: 100%;
  height: 640px;
  overflow: hidden;
  background-color: #6e6e6e; }
  .urbana-slider .urbana-slider-text {
    position: absolute;
    width: 100%;
    top: 30%; }
    .urbana-slider .urbana-slider-text h1 {
      font-size: 48px;
      letter-spacing: 1px;
      line-height: 1.2; }
    .urbana-slider .urbana-slider-text p {
      font-size: 22px;
      letter-spacing: 1px;
      line-height: 1.2;
      margin: 38.4px 0 48px; }

a.urbana-slider-button {
  color: #eeeeee;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  padding: 16px 60px;
  border-radius: 4px;
  border: 2px solid #eeeeee;
  transition: 0.3s all; }
  a.urbana-slider-button:hover {
    color: #545454;
    background-color: #eeeeee;
    text-shadow: 0 0 0 #eeeeee; }

.urbana-reservation-form {
  background: #c8c8c8;
  padding: 42px 0 32px 0;
  margin-bottom: 35.2px; }
  .urbana-reservation-form form {
    margin-bottom: 0; }
    .urbana-reservation-form form input {
      border: 2px solid #a1a1a1;
      margin-bottom: 0; }

.urbana-reservation-form > .container > form > .row {
  display: flex;
  flex-direction: row;
  align-content: stretch; }

.urbana-datepicker {
  margin-right: 8px;
  background: url(images/datepicker/calendar.png) 94% 6px no-repeat; }

.urbana-select {
  margin-right: 8px; }

input[type="submit"].urbana-reservation-button {
  transition: 0.3s all; }
  input[type="submit"].urbana-reservation-button:hover {
    background-color: #c8c8c8;
    border: 2px solid #616161;
    color: #545454;
    line-height: 1; }

.ui-datepicker {
  display: none;
  font-size: 13px;
  background: white;
  border-radius: 4px;
  padding: 30px 30px 0;
  box-shadow: 0 0 10px #545454; }
  .ui-datepicker table th, .ui-datepicker table td {
    padding: 10px; }
  .ui-datepicker a.ui-corner-all {
    color: #545454;
    cursor: pointer; }
  .ui-datepicker a.ui-datepicker-prev {
    float: left;
    background: url(images/datepicker/ui-datepicker-prev.png) left center no-repeat;
    padding-left: 30px;
    text-indent: -999px; }
  .ui-datepicker a.ui-datepicker-next {
    float: right;
    background: url(images/datepicker/ui-datepicker-next.png) right center no-repeat;
    padding-right: 30px;
    text-indent: -999px; }
  .ui-datepicker .ui-datepicker-title {
    text-align: center; }
  .ui-datepicker .ui-datepicker-header {
    padding-bottom: 8px;
    border-bottom: 1px double #e1e1e1; }

.urbana-footer {
  font-size: 12px;
  background: #545454;
  color: #e1e1e1;
  text-align: center;
  padding: 32px 0; }
  .urbana-footer a {
    color: #8ebcf1;
    text-decoration: none; }
